* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.app {
    align-items: center;
    display: inline;
    flex-direction: column;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
    text-align: center;
}

header {
    margin: 50px 0px 50px;
}
header h1 {
    margin-bottom: 10px;
    font-size: 40px;
}
header p {
    font-size: 20px;
}

.main-content {
    font-size: 14px;
    text-align: center;
    align-items: center;
}

.main-content > p {
    margin-bottom: 30px;
}

table {
    border: 2px solid black;
    margin: 0px auto 30px;
}
td.main-table-cell > input {
    border: 1px solid black;
    font-weight: bold;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: center;
}

.main-button-container {
    margin: 0 auto;
}
button.main-button {
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    width: 100px;
}
.button-clear {
    background-color: lightpink;
}
.button-calc {
    background-color: lightcyan;
}
