* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.app {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    margin: 50px 0px 50px;
}
header h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 40px;
}
header p {
    text-align: center;
    font-size: 20px;
}

.main-content {
    font-size: 14px;
}

.main-content > p {
    margin-bottom: 30px;
}

table {
    border: 2px solid black;
    margin-bottom: 30px;
}

td.main-table-cell > input {
    border: 1px solid black;
    font-weight: bold;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: center;
}

.main-button-container {
    /* flex-direction: column; */
}
button.main-button {
    height: 40px;
    width: 100px;
}
